server:
    port: 0 # Random port assignment for testing
spring:
    application:
        name: lemini-user-service

# ===============================
# eureka configuration
# ===============================
eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
            register-with-eureka: true
            fetch-registry: true
    instance:
        instance_id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
        
# ===============================
# management config
# ===============================
management:
    tracing:
        sampling:
            probability: 1.0
    endpoints:
        web:
            exposure:
                include: "*"  # Expose everything

# ===============================
# logging config
# ===============================
logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

# ===============================
# Application Specific Properties
# ===============================
app:
    security:
        tokenSecret: VerificationTokenSecretKeyGen98758y4563!@#$$%^^&*()_+|}{":?><,./;'[]\-=`~