server:
    port: 0 # Random port assignment for testing
spring:
    application:
        name: lemini-user-service

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
            register-with-eureka: true
            fetch-registry: true
    instance:
        instance_id: ${spring.application.name}:${spring.application.instance_id:${random.value}}