server:
    port: 8080

spring:
    application:
        name: lemini-gateway
    cloud:
        gateway:
            discovery:
              locator:
                enabled: true
                lower-case-service-id: true

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
        register-with-eureka: true
        fetch-registry: true
        
management:
    tracing:
        sampling:
            probability: 1.0 # Always sample for tracing in development. it will be set to 0.1 in production
    endpoints:
        web:
            exposure:
                include: "*"  # Expose everything

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"