server:
  port: 8888

spring:
    application:
        name: lemini-config-server
    profiles: 
        active: native
    cloud:
        config:
            server:
                native:
                    search-locations: classpath:/config,classpath:/ # Where to look for config files`